/Images
/Logs
/Profiles/Charts
/Profiles/SymbolSets
Profiles/Templates/ADX.tpl
Profiles/Templates/BollingerBands.tpl
Profiles/Templates/Momentum.tpl
/Profiles/Tester
/Scripts
/Experts/Advisors
/Experts/Examples
/Experts/Market
/experts.dat
/Indicators
/Include/Indicators
/Include/Graphics
/Include/Generic
/Include/Files
/Include/Expert
/Include/Controls
/Include/Charts
/Include/ChartObjects
/Include/Canvas
/Include/Arrays
/Include/WinAPI
/Include/VirtualKeys.mqh
/Include/Trade
/Include/Tools
/Include/Strings
/Include/StdLibErr.mqh
/Include/OrderManager.mqh
/Include/OpenCL
/Include/Object.mqh
/Include/MovingAverages.mqh
/Include/Math
