experts.dat
.vscode/c_cpp_properties.json
.vscode/tasks.json
Experts/Advisors/
Experts/Examples/
Images/
Include/MovingAverages.mqh
Include/Object.mqh
Include/StdLibErr.mqh
Include/VirtualKeys.mqh
Include/Arrays/
Include/Canvas/
Include/ChartObjects/
Include/Charts/
Include/Controls/
Include/Expert/
Include/Files/
Include/Generic/
Include/Graphics/
Include/Indicators/
Include/Math/
Include/OpenCL/
Include/Strings/
Include/Tools/
Include/Trade/
Include/WinAPI/
Indicators/Examples/
Logs/
Profiles/Charts/
Profiles/SymbolSets/
Profiles/Tester/
Scripts/Examples/
Scripts/UnitTests/
Profiles/Templates/ADX.tpl
Profiles/Templates/BollingerBands.tpl
Profiles/Templates/Momentum.tpl
Profiles/Tester/Reggie.set
Profiles/Tester/Reggie.set
